{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - placeholder: {Boolean} Renders a placeholder price (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  elsif placeholder
    assign target = null
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money
  assign money_price_min = price_min | money
  assign money_price_max = price_max | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

{%- unless target == null and placeholder == null -%}
  <div class="
      price
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
      {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
      {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
      {%- if show_badges %} price--show-badge{% endif -%}
    " style="display: flex; flex-direction: column; align-items: flex-start; gap: 0.5rem; position: relative;">


    <div class="price__container">
      {%- comment -%}
        Explanation of description list:
        - div.price__regular: Displayed when there are no variants on sale
        - div.price__sale: Displayed when a variant is a sale
      {%- endcomment -%}
      <div class="price__regular">
        {%- if product.quantity_price_breaks_configured? -%}
          {%- if show_compare_at_price and compare_at_price -%}
            {%- unless product.price_varies == false and product.compare_at_price_varies %}
              <span class="visually-hidden visually-hidden--inline">
                {{- 'products.product.price.regular_price' | t -}}
              </span>
              <span>
                <s class="price-item price-item--regular variant-item__old-price">
                  {% if settings.currency_code_enabled %}
                    {{ compare_at_price | money_with_currency }}
                  {% else %}
                    {{ compare_at_price | money }}
                  {% endif %}
                </s>
              </span>
            {%- endunless -%}
          {%- endif -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span class="price-item price-item--regular">
            {{-
              'products.product.volume_pricing.price_range' | t: minimum: money_price_min, maximum: money_price_max
            -}}
          </span>
        {%- else -%}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>

          {% comment %}

            <span class="price-item price-item--regular">
            {{ money_price }}
            </span>
          {% endcomment %}
        {%- endif -%}
      </div>

      <style>
        .price__sale {
          display: flex;
          flex-direction: column;
        }
        .compare_at_price__text {
          color: #aaa;
        }
        .compare_at_price__text s {
          color: #999
        }
        .pix__price {
          font-weight: 600;
          color: #119252;
          font-size: 1.4em;
        }
        .price__line_break {
          margin: 4px;
        }
        .raw_price__text {
          color: #777;
          font-size: 0.9em;
        }
        .raw__price {
          color: #333;
        }
        .pix__price_text {
          margin: 0;
        }
      </style>

      <div class="price__sale">
        {%- unless product.price_varies == false and product.compare_at_price_varies %}
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          {% if product.compare_at_price %}
            <span class="compare_at_price__text">De
              <s class="price-item price-item--regular">
                {% if settings.currency_code_enabled %}
                  {{ target.compare_at_price | money_with_currency }}
                {% else %}
                  {{ target.compare_at_price | money }}
                {% endif %}
              </s>por
            </span>
          {% endif %}

        {%- endunless -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>


        {% if product.tags contains "Sem Desconto PIX" %}

        {% else %}

          {% if settings.enable_pix_discount %}
            {% assign pix_discount = settings.pix_discount_percentage %}
            {% assign real_discount = target.price | times: pix_discount | divided_by: 100 %}


            <div>
              <span class="pix__price_text">
                <span class="pix__price">{{ target.price | minus: real_discount | money }}</span>
                no pix
              </span>
            </div>

          {% endif %}

        {% endif %}

        {% assign installments = settings.installments %}
        {% assign installment_value = product.price | divided_by: installments %}

        <hr class="price__line_break">

        <span class="price-item price-item--sale price-item--last raw_price__text">
          {% if product.tags contains "Sem Desconto PIX" %}
          {% elsif settings.enable_pix_discount %}
            ou
          {% endif %}


          <span class="raw__price">{{ money_price }}</span>
          {% if settings.enable_installments %}
            <br>em até {{ installments -}}x de {{ installment_value | money }} sem juros
          {% endif %}

        </span>
      </div>
      {%- if product.selected_or_first_available_variant.unit_price_measurement -%}
        {% render 'unit-price'
          , price: product.selected_or_first_available_variant.unit_price
          , measurement: product.selected_or_first_available_variant.unit_price_measurement %}
      {%- endif -%}
      {%- if show_badges -%}


        {% assign sale_badge_type = settings.sale_badge_type %}
        {% assign sale_badge_bgcolor = settings.sale_badge_custom_background_color %}
        {% assign sale_badge_textcolor = settings.sale_badge_custom_color %}
        {% comment %}
          color-{{ settings.sale_badge_color_scheme }}
        {% endcomment %}
        {% if compare_at_price > price and available %}

          <br>
          {% comment %}
            Sale badge
          {% endcomment %}

          {% if sale_badge_type == "sale" %}

            <span
              id="Badge-{{ section_id }}-{{ product.id }}"
              class="badge badge--bottom-left"
              style="background-color: {{ sale_badge_bgcolor }}; color: {{ sale_badge_textcolor }};">
              {{- 'products.product.on_sale' | t -}}
            </span>

          {% elsif sale_badge_type == "value" %}

            {% assign sale_badge_value = product.compare_at_price | minus: product.price | money %}

            <span
              id="Badge-{{ section_id }}-{{ product.id }}"
              class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
              style="background-color: {{ sale_badge_bgcolor }}; color: {{ sale_badge_textcolor }};">
              Economize {{ sale_badge_value -}}
            </span>

          {% elsif sale_badge_type == "percent" %}

            {% assign sale_badge_percent = product.compare_at_price | minus: product.price | times: 100 %}
            {% assign sale_badge_percent = sale_badge_percent | divided_by: product.compare_at_price %}

            <span
              id="Badge-{{ section_id }}-{{ product.id }}"
              class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
              style="background-color: {{ sale_badge_bgcolor }}; color: {{ sale_badge_textcolor }};">
              -{{- sale_badge_percent -}}%
            </span>
          {% endif %}
        {% endif %}

        <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
          {{ 'products.product.sold_out' | t }}
        </span>
      {%- endif -%}
    </div>
  </div>
{% endunless %}